/* My CKE Button form styling */
.myckebutton-buttonstyles tr td:last-child {
    display: none;
}
.myckebutton-buttonstyles tbody tr td:first-child {
    display: inherit;
}
.myckebutton-style-definition .js-form-type-textfield {
    position: relative;
}
.myckebutton-style-definition .js-form-type-textfield .myckebutton {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
}
.myckebutton-style-definition .js-form-type-textfield .myckebutton a {
    text-decoration: none;
}
.myckebutton-style-definition .myckebutton-fieldset > .fieldset-wrapper,
.myckebutton-style-definition .myckebutton-fieldset > .fieldset__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0.5rem;
}
.myckebutton-style-definition .myckebutton-fieldset.myckebutton-container > .fieldset-wrapper,
.myckebutton-style-definition .myckebutton-fieldset.myckebutton-container > .fieldset__wrapper {
    justify-content: space-between;
}
.myckebutton-style-definition .myckebutton-fieldset-inner {
    margin: 0 10px;
}
.myckebutton-style-definition .myckebutton-fieldset-inner .form-item {
    padding: 0 10px;
}
.myckebutton-style-definition .myckebutton-fieldset-inner .form-item .form-item__label {
    display: block;
    text-align: center;
}
.myckebutton-style-definition .myckebutton-fieldset-inner .form-item input,
.myckebutton-style-definition .myckebutton-fieldset-inner .form-item select {
    width: 80px;
    height: 30px;
}
