/* Default button styling */
.myckebutton a {
    display: inline-block;
    padding: 12px;
    margin: 0 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;;
    text-decoration: none;
    color: #F0F0F0;
    background-color: #008ECE;
    border-color: #136DA9;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}
.myckebutton a:hover {
    color: #A0D8F1;
    background-color: #136DA9;
    border-color: #008ECE;
}
